main {
    padding-top: 0;
}

img {
    max-width: 100%;
}
.animated-button {
    margin-left: 36.8%;
}

.section-num {
    height: 5rem;
    width: 5rem;
    justify-self: end;
    margin-right: calc(8% - 2.5rem);
}

.right-wide {
    margin-left: 1.1rem;
}

main > section > h2 {
  padding-left: 1rem;
}

/*  SUB-GRID VERTICAL LAYOUTS */

.colab-hero {
    grid-template-rows: [background-start]
                        6rem
                        [heading]
                        auto
                        3rem
                        [paragraph-1]
                        calc(120vw - 24.4rem - 22.6666666666667vw)
                        10rem
                        [photo-1-start]
                        22.6666666666667vw
                        [background-end]
                        auto
                        [photo-1-end]
                        10rem
                        [container-1]
                        auto
                        5rem
                        [button-1]
                        auto;
}

.hero-back {
    background: url(../images/shape3.svg) no-repeat;
    background-size: cover;
}

.colab-overview {
    grid-template-rows: [heading]
                        auto
                        2rem
                        [paragraph-1]
                        auto
                        5rem
                        [container-1]
                        auto
                        5rem
                        [container-2]
                        auto
                        5rem
                        [container-3]
                        auto;
}

.colab-overview .container-1 img {
    width: 87.4666666666667%;
    padding-left: 5.3333333333333%
}

.colab-overview .container-2 img {
    width: 92.8%;
    padding-left: 2.4%;
}

.colab-overview .container-3 img {
    width: 88%;
    padding-left: 7.4666666666667%;
}

/* Resaerch Grids */

.colab-research {
    grid-template-rows: [heading]
                        auto
                        1rem
                        [survey]
                        auto
                        [competitive-anal]
                        auto
                        [user-persona]
                        auto
                        [frustrations]
                        auto
                        [goals]
                        auto
                        [key-insights]
                        auto;
}

    .survey {
        grid-row: survey;
        grid-template-rows: [sub-heading-1] /*survey*/
                            auto
                            1rem
                            [photo-1-start]
                            auto
                            [photo-1-end]
                            5rem
                            [container-2]
                            auto
                            5rem;
    }

    .competitive-anal {
        grid-row: competitive-anal;
        grid-template-rows:[sub-heading-2] /*competitive anal*/
                            auto
                            2rem
                            [paragraph-1]
                            auto
                            5rem;
    }

    .user-persona {
        grid-row: user-persona;
        grid-template-rows:[sub-heading-1] /*user persona*/
                            auto
                            5rem
                            [sub-heading-2 photo-1-start]
                            auto
                            [paragraph-1]
                            1fr
                            [photo-1-end]
                            3rem
                            [paragraph-2]
                            auto
                            3rem
                            [sub-heading-3] /*frustrations*/
                            auto
                            1rem
                            [list-1]
                            auto
                            2rem
                            [sub-heading-4] /*goals*/
                            auto
                            1rem
                            [list-2]
                            auto
                            7.5rem;
    }

    .user-persona .sub-heading-2 {
        text-align: right;
        margin-bottom: 1rem;
    }

    .user-persona .paragraph-1 {
        text-align: right;
    }

    .user-persona .photo-1 {
        margin-left: 3rem;
        height: 17.8rem;
        width: 17.8rem;
        margin-top: 2.5rem;
    }

    .user-persona .photo-1 img {
        height: 16.3rem;
        width: 16.3rem;
    }

    /* .user-persona ul {
        list-style-type: disc;
        list-style-position: inside;
    } */

    .key-insights {
        grid-row: key-insights;
        grid-template-rows:
                            [photo-1-start]  /*key insights*/
                            4.5rem
                            [sub-heading-6]
                            auto
                            1rem
                            [list-3]
                            auto
                            2.8rem
                            [photo-1-end];
    }

    .key-insights .photo-1 {
        background: url(../images/shape1.svg) no-repeat;
        background-size: contain;
        overflow: hidden;

        min-width: 375px;
    }



/* info-architecture */

.info-architecture {
    grid-template-rows:[heading]
                        auto
                        2rem
                        [paragraph-1]
                        auto
                        3rem
                        [user-stories]
                        auto
                        [user-flows]
                        auto;
}
.user-stories {
    grid-row: user-stories;
    grid-template-rows: [sub-heading-1]
                        auto
                        1rem
                        [paragraph-2]
                        auto
                        2rem
                        [container-1]
                        auto
                        2rem
                        [button-1]
                        auto
                        5rem;
}

.user-flows {
grid-row: user-flows;
grid-template-rows: [sub-heading-2]
                    auto
                    1rem
                    [paragraph-3]
                    auto
                    3rem
                    [container-2]
                    auto
                    5rem
                    [paragraph-4]
                    auto
                    3rem
                    [container-3]
                    auto
                    5rem
                    [button-1]
                    auto;
}

.user-flows .container-3 {
    padding: 0px 28% ;
}

.prototype {
    grid-template-rows:[heading]
                        auto
                        2rem
                        [sub-heading-1]
                        auto
                        3rem
                        [container-1]
                        auto
                        5rem
                        [sub-heading-2]
                        auto
                        3rem
                        [container-2]
                        auto;
    }

.prototype .container-2 {
    max-width: 100%;
}

.testing-1 {
    grid-template-rows: [heading]
                        auto
                        2rem
                        [paragraph-1]
                        auto
                        5rem
                        [container-1]
                        auto
                        3rem
                        [sub-heading-1]
                        auto
                        1rem
                        [paragraph-2]
                        auto
                        5rem
                        [container-2]
                        auto
                        3rem
                        [sub-heading-2]
                        auto
                        1rem
                        [paragraph-3]
                        auto;
}


.visual-design {
    grid-template-rows: [heading]
                        auto
                        2rem
                        [paragraph-1]
                        auto
                        5rem
                        [typography]
                        auto
                        [color-palette]
                        auto
                        [illustrations]
                        auto;
  }
.typography {
    grid-row: typography;
    grid-template-rows: [heading] /*typography*/
                        auto
                        5rem
                        [container-1]
                        auto
                        5rem
                        [sub-heading-1]
                        auto
                        1rem
                        [paragraph-1]
                        auto
                        5rem;
}

.typography .container-1 {
    padding: 0 21.3%;
}

.color-palette {
    grid-row: color-palette;
    grid-template-rows: [heading] /*color palette*/
                        auto
                        5rem
                        [container-1]
                        auto
                        5rem
                        [sub-heading-1]
                        auto
                        1rem
                        [paragraph-1]
                        auto
                        5rem;
}

.color-palette .container-1 {
    padding: 0 16%;
}

.illustrations {
    grid-row: llustrations;
    grid-template-rows: [heading] /*illustrations*/
                        auto
                        5rem
                        [container-1]
                        auto
                        5rem
                        [sub-heading-1]
                        auto
                        1rem
                        [paragraph-1]
                        auto
                        5rem
                        [container-2]
                        auto
                        5rem
                        [sub-heading-2]
                        auto
                        1rem
                        [paragraph-2]
                        auto
                        5rem
                        [container-3]
                        auto;
}

.hi-fidelity {
    grid-template-rows: [heading]
                        auto
                        2rem
                        [paragraph-1]
                        auto
                        5rem
                        [container-1]
                        auto
                        5rem
                        [button-1]
                        auto;
}

.hi-fidelity .container-1 {
    padding: 0px 25.3968253968254%;
}

.testing-2 {
    grid-template-rows: [heading]
                        auto
                        2rem
                        [paragraph-1]
                        auto
                        5rem
                        [container-1]
                        auto
                        3rem
                        [sub-heading-1]
                        auto
                        1rem
                        [paragraph-2]
                        auto
                        5rem
                        [container-2]
                        auto
                        3rem
                        [sub-heading-2]
                        auto
                        1rem
                        [paragraph-3]
                        auto;
    }

.conclusion {
   grid-template-rows:  [background-start]
                        2rem
                        [heading]
                        auto
                        2rem
                        [paragraph-1]
                        auto;
 }

 .conclusion .background-start {
    background: url("../images/shape4.svg") no-repeat;
    background-size: contain;
    align-self: start;
    height: 177.0666666666667vw;
 }

 .self-reflection {
   grid-template-rows: [heading]
                       auto
                       2rem
                       [paragraph-1]
                       auto;
 }

 .other-work {
   grid-template-rows: [heading]
                       auto
                       5rem
                       [container-1]
                       auto
                       5rem
                       [container-2]
                       auto
                       3rem
                       [container-3]
                       auto
                       7rem
                       ;
  }

    .other-work .container-1, .other-work .container-2 {
      padding: 0 13%;
    }

  .other-work i {
    background: url("../icons/goup.svg") no-repeat;

  }

/* Special Positioning */

.number-circle {
    width: 5rem;
    height: 5rem;
    justify-self: end;
    margin-right: calc(36.8% - 5.9rem);
  }

  /* ROMI TO DO */
