main {
    padding-top: 0;
}

img {
    max-width: 100%;
}

.section-num {
    height: 5rem;
    width: 5rem;
    justify-self: end;
    margin-right: calc(8% - 2.5rem);
}

.right-wide {
    margin-left: 1.1rem;
}

/* Aside Margins */

@media screen and (max-width: 575.98px){
      .aside-detail {
          margin-left: .5rem;
      }

}
@media screen and (min-width: 576px){
      .aside-detail {
          margin: 0;
      }

}

/* Heading Offset */

@media screen and (min-width:922px){
    .heading-width {
        margin-left: 5.6944444444444%;
    }
}

/* Buttons */

@media screen and (max-width: 575.98px) {

    .button-1 {
        margin-left: 36.8%;
      }
}

@media screen and (min-width: 576px){

    .button-1 {
        width: 51.1990407673861%;
        margin-left: 48.8%;
    }
}

@media screen and (min-width: 992px){

    .button-1 {
        width: 18.2638888888889%;
        margin-left: calc(74.6527777777778% - 1px);
    }
}


/* Lines for Project */

/* Lines Mobile */

@media screen and (max-width: 575.98px) {

    .line1  {
        position: fixed;
        left: 36.8%;
    }

    .line2 {
        position: fixed;
        right: 8%;
    }
}

/* Lines Tablet */

@media screen and (min-width: 576px) and (max-width: 991.98px) {

    .line1 {
        position: fixed;
        left: 14.6282973621103%;
    }

    .line2 {
        position: fixed;
        right: 51.1990407673861%;
    }
}

/* Destop lines set in layouts.css */

/*  SUB-GRID VERTICAL LAYOUTS */

/* Hero - Mobile */

@media screen and (max-width: 575.98px) {

    .colab-hero {
        grid-template-rows: [background-start]
                            6rem
                            [heading]
                            auto
                            3rem
                            [paragraph-1]
                            minmax(14.2rem, calc(120vw - 24.4rem - 22.6666666666667vw))
                            10rem
                            [photo-1-start]
                            22.6666666666667vw
                            [background-end]
                            auto
                            [photo-1-end]
                            10rem
                            [container-1]
                            auto
                            5rem
                            [button-1]
                            auto;
    }

    .colab-hero .background {
        background: url(../images/colab/shape3.svg) no-repeat;
        background-size: cover;
    }

    .colab-hero .paragraph-1 {
        align-self: center;
    }
    .colab-hero .summary-box {
      background-color: white;
    }

    main > section > h2 {
      padding-left: 1rem;
    }
}


/* Hero - Tablet and Desktop */

@media screen and (min-width: 576px) {

    .colab-hero {
        grid-template-rows: 8rem
                            [background-start]
                            7.878rem
                            [heading]
                            auto
                            1rem
                            [paragraph-1]
                            auto
                            15.975rem
                            [background-end]
                            5rem
                            [container-1]
                            auto;
    }

    .colab-hero .background {
        background: url(../images/colab/colabhero.svg) no-repeat;
        background-size: contain;
        justify-self: center;
        width: 55rem;
    }

    .colab-hero .paragraph-1 {
        width: 40.7rem;
        justify-self: center;
        margin-left: 14.2rem;
    }

    .colab-hero h1 {
        width: 40.7rem;
        justify-self: center;
        margin-left: 14.2rem;
    }

    .colab-hero .summary-box {
        border: none;
        justify-self: center;
        display: flex;
        justify-content: space-between;
        width: 55rem;

    }

    .colab-hero .summary-box div {
        max-width: 11.4rem;

    }
    .colab-hero .container-1 a {
      border-bottom: 2px solid #C0E2CA;
      line-height: 2.2rem;
    }
}

/* Hero - Desktop Overide */
@media screen and (min-width: 992px) {
    .colab-hero {
        grid-template-rows: 8rem
                            [background-start]
                            10.4rem
                            [heading]
                            auto
                            2rem
                            [paragraph-1]
                            auto
                            17.3rem
                            [background-end]
                            5rem
                            [container-1]
                            auto;
    }

    .colab-hero h1 {
        width: 34.5rem;
        margin-left: -6.1rem;
    }

    .colab-hero .paragraph-1 {
        width: 34.5rem;
        margin-left: 6.1rem;
    }

    .colab-hero .container-1 {
      max-width: 49.2361111111111%;
    }

    .colab-hero .background {
        width: 61.644rem;
    }

    .colab-hero .summary-box {
        width: 61.644rem;
    }

}



/* Overview - mobile */

@media screen and (max-width: 575.98px) {
    .colab-overview {
        grid-template-rows: [heading]
                            auto
                            2rem
                            [paragraph-1]
                            auto
                            5rem
                            [container-1]
                            auto
                            5rem
                            [container-2]
                            auto
                            5rem
                            [container-3]
                            auto;
    }

    .colab-overview .container-1 img {
        width: 87.4666666666667%;
        padding-left: 5.333333333%;
    }

    .colab-overview .container-2 img {
        width: 92.8%;
        padding-left: 2.4%;
    }

    .colab-overview .container-3 img {
        width: 88%;
        padding-left: 7.4666666666667%;
    }
}

/* Overview - Tablet + */
@media screen and (min-width: 576px) {
    .colab-overview {
        grid-template-rows: [heading]
                            auto
                            2rem
                            [paragraph-1]
                            auto
                            5rem
                            [container-1]
                            auto;
    }

    .colab-overview .container-1 img {
        width: 100%;
    }

    .colab-overview .container-1 ul {
        display: flex;
        justify-content: space-around;
        padding-bottom: 2rem;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 992px) {

    .colab-overview .container-1 {
        padding: 0 10.1255230125523%;
    }

    .colab-overview .container-1 ul {
        font-size: 1.6rem;
    }

}


/* Resaerch Grids */

.colab-research {
    grid-template-rows: [heading]
                        auto
                        [survey]
                        auto
                        [competitive-anal]
                        auto
                        [user-persona]
                        auto
                        [key-insights]
                        auto;
}

@media screen and (min-width: 576px) { /* Add additional spacing to tablet and Desktop */
    .colab-research {
        row-gap: 5rem;
    }

    .colab-research .survey {
        margin-top: -3rem;
    }
}

@media screen and (min-width: 992px) { /* Add additional spacing to tablet and Desktop */
    .colab-research {
        row-gap: 10rem;
    }

    .colab-research .survey {
        margin-top: -8rem;
    }
}

/* Survey Phone and Tablet */

@media screen and (max-width: 991.98px) {
    .survey {
        grid-row: survey;
        grid-template-rows: [sub-heading-1] /*survey*/
                            auto
                            1rem
                            [paragraph-1]
                            auto
                            5rem
                            [photo-1-start]
                            auto
                            [photo-1-end]
                            5rem
                            [container-2]
                            auto
                            5rem;
    }
}

/* Survey - Phone Only */

@media screen and (max-width: 575.98px) {
    .survey .photo-1 {
        border: none;
        padding: 0;

    }
}

/* Survey - Tablet Only */

@media screen and (min-width: 576px) and (max-width: 991.98px) {

    .survey .container-2 {
        margin-left: 8.5%;
    }

    .survey .photo-1 {
      padding: 20px 30px;
      background-color: white;
    }
}

/* Survey - Desktop Only */

@media screen and (min-width: 992px) {
    .survey {
        grid-row: survey;
        grid-template-rows: [sub-heading-1] /*survey*/
                            auto
                            1rem
                            [paragraph-1]
                            auto
                            5rem
                            [photo-1-start container-2]
                            auto
                            [photo-1-end]
                            5rem;
    }

    .survey .container-2 {
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .survey .photo-1 {
      padding: 20px 30px;
      background-color: white;
    }
}

@media screen and (max-width: 575.98px){
  .competitive-anal {
      grid-row: competitive-anal;
      grid-template-rows:[sub-heading-2] /*competitive anal*/
                          auto
                          2rem
                          [paragraph-1]
                          auto
                          5rem
                          ;
  }
}

/* Competitive Anlaysis - Tablet + */

@media screen and (min-width: 576px) {
    .competitive-anal {
        grid-row: competitive-anal;
        grid-template-rows:[sub-heading-2] /*competitive anal*/
                            auto
                            2rem
                            [paragraph-1 paragraph-2-start]
                            auto
                            5rem
                            [container-1]
                            auto
                            [paragraph-2-end]
                            5rem;
    }

    .competitive-anal .container-1 {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .competitive-anal img {
        padding: 0 1rem 2rem 1rem;
    }

    .competitive-anal .container-1 figcaption {
        font-size: 1.2rem;
    }
}

/* Competitive Analysis - Desktop Only */

@media screen and (min-width: 992px) {

    .competitive-anal > .container-1 {
        padding-right: 30.4928989139515%;
        align-items: flex-end;
    }

    .competitive-anal > .container-1 > figure > img{
        height: 08.6805555555556vw;
    }

    .competitive-anal > .container-1 > figure:nth-last-child(1) > img {
        height: 13.4222222222222vw;
    }

    .competitive-anal .container-1 figcaption {
        font-size: 1.2rem;
    }
}

/* Persona - Mobile */

@media screen and (max-width: 575.98px) {

  .user-persona {
      grid-row: user-persona;
      grid-template-rows: [sub-heading-1] /*user persona*/
                          auto
                          5rem
                          [sub-heading-2 photo-1-start]
                          auto
                          [paragraph-1]
                          1fr
                          [photo-1-end]
                          3rem
                          [paragraph-2]
                          auto
                          3rem
                          [container-1-start]
                          auto
                          [container-1-end]
                          3rem;
  }

    .user-persona .sub-heading-2{
        text-align: right;
        margin-bottom: 1rem;
    }

    .user-persona .paragraph-1 {
        text-align: right;
    }

    .user-persona .photo-1 {
        height: 17.8rem;
        width: 17.8rem;
        justify-self: center;
        margin-left: 16%;
        margin-top: 2.5rem;
}

    .user-persona .photo-1 img {
        height: 16.3rem;
        width: 16.3rem;
    }

}

/* Persona Tablet + */

@media screen and (min-width: 576px) {

  .user-persona {
      grid-row: user-persona;
      grid-template-rows:[sub-heading-1] /*user persona*/
                          auto
                          5rem
                          [sub-heading-2 photo-1-start]
                          auto
                          [paragraph-1]
                          1fr
                          [paragraph-2]
                          auto
                          [photo-1-end]
                          5rem
                          [container-1-start]
                          auto
                          [container-1-end]
  }

    .user-persona .sub-heading-2{
        text-align: left;
    }

    .user-persona .paragraph-1 {
        text-align: left;
    }

    .user-persona .photo-1 {
        height: 17.8rem;
        width: 17.8rem;
        justify-self: center;
        margin-left: -02.9976019184652%;
    }

    .user-persona .photo-1 img {
        height: 16.3rem;
        width: 16.3rem;
    }

    .user-persona .paragraph-2 {
        padding-left: 40.9883720930233%;
    }

}

/* Persona - Destop Only */

@media screen and (min-width: 992px) {
    .user-persona {
        grid-row: user-persona;
        grid-template-rows: [sub-heading-1 photo-1-start] /*user persona*/
                            auto
                            [container-1-start]
                            3rem
                            [sub-heading-2]
                            auto
                            1rem
                            [paragraph-1]
                            auto
                            auto
                            [photo-1-end]
                            10rem
                            [paragraph-2]
                            auto
                            1fr
                            [container-1-end]
    }

    .user-persona .photo-1 {
        height: 21.7rem;
        width: 21.7rem;
        justify-self: center;
        margin-left: 0;
    }

    .user-persona .photo-1 img {
        height: 19.785rem;
        width: 19.785rem;
    }

    .user-persona .paragraph-2 {
        padding-left: 0%;
    }
}

/* Key Insights - Mobile */

@media screen and (max-width: 575.98px){
    .key-insights {
        grid-row: key-insights;
        grid-template-rows:
                            [background-start]  /*key insights*/
                            1fr
                            [sub-heading-6]
                            auto
                            1rem
                            [list-3]
                            auto
                            1fr
                            [background-end]
    }

    .key-insights .background {
        background: url(../images/colab/shape1.svg) no-repeat;
        background-size: cover;
        overflow: hidden;
        min-height: 50vw;
    }
}

@media screen and (min-width: 576px) {
    .key-insights {
        grid-row: key-insights;
        grid-template-rows:
                            [background-start]  /*key insights*/
                            0px
                            [sub-heading-6]
                            auto
                            1fr
                            [list-3]
                            auto
                            1rem
                            [background-end]
    }

    .key-insights .background {
        background: url(../images/colab/shape1.svg) no-repeat;
        background-size: cover;
        height: 24rem;
        width: 51.503rem;
        justify-self: center;
    }
}

@media screen and (min-width: 992px) {
    .key-insights {
        grid-row: key-insights;
        grid-template-rows:
                            [background-start]  /*key insights*/
                            0px
                            [sub-heading-6]
                            auto
                            5rem
                            [list-3]
                            auto
                            1fr
                            [background-end]
    }
}

/* info-architecture */

.info-architecture {
    grid-template-rows:[heading]
                        auto
                        2rem
                        [paragraph-1]
                        auto
                        3rem
                        [user-stories]
                        auto
                        [user-flows]
                        auto;
}



/* User Stories - Mobile and Tablet */

.user-stories {
    grid-row: user-stories;
    grid-template-rows: [sub-heading-1]
                        auto
                        5rem
                        [paragraph-2]
                        auto
                        2rem
                        [container-1-start]
                        auto
                        [container-1-end]
                        5rem
                        [button-1]
                        auto
                        5rem;
}

/* User Stories - Tablet + */
@media screen and (min-width: 576px){

    /* overiding the global sumamy box padding, as it zeros out padding on desktop */
    .user-stories .summary-box {
        padding: 2rem 3.4rem 2rem 3.4rem;
    }
}

/* User Stories - Destop Only */
@media screen and (min-width: 992px){
    .user-stories .container-1-split {
        min-width: 41.4rem;

    }
}

.user-flows {
    grid-row: user-flows;
    grid-template-rows: [sub-heading-2]
                        auto
                        1rem
                        [paragraph-3]
                        auto
                        3rem
                        [container-2]
                        auto
                        8rem
                        [paragraph-4]
                        auto
                        3rem
                        [container-3]
                        auto
                        5rem
                        [button-1]
                        auto
}


@media screen and (max-width: 575.98px){
    .user-flows .container-3 {
      padding: 0px 28% ;
    }
}

@media screen and (min-width: 576px) {

    .user-flows .container-2 {
      background-color: white;
      margin: 0 16.875%;
      padding: 20px;
    }

    .user-flows .container-3 {
      background-color: white;
      margin: 0 16.875%;
      padding: 20px;
    }
}

/* Prototype */

.prototype {
    grid-template-rows: [heading]
                        auto
                        2rem
                        [sub-heading-1]
                        auto
                        3rem
                        [container-1]
                        auto
                        2rem
                        [container-2]
                        1.995rem
                        5rem
                        [sub-heading-2]
                        auto
                        3rem
                        [container-3]
                        auto
                        4rem
                        [button-1]
                        auto;
}

.prototype .container-1 {
    max-width: 100%;
    background-color: white;

}

.previous:hover {
  opacity: 0.5;
}
.next:hover {
  opacity: 0.5;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slider li {
    width: 100%;
    position: absolute;
    right: 100%;
  }

.slider li.current {
    right: 0;
}

@media screen and (min-width: 576px){
  .prototype .container-2 {
      height: 1.995rem;
      width: 1.727rem;
      justify-self: center;
  }
}

.previous {
    background: url("../images/ico/arrowleft.svg") no-repeat;
    background-size: contain;
    margin-right: calc(2.3980815347722% + 2.5905rem + 1px);
}

.next {
    background: url("../images/ico/arrowright.svg") no-repeat;
    background-size: contain;
    margin-left: calc(2.3980815347722% + 2.5905rem + 1px);
}

.prototype .container-3 {
    max-width: 100%;
}

/* Testing */

.testing-1 {
    grid-template-rows: [heading]
                        auto
                        2rem
                        [paragraph-1]
                        auto
                        5rem
                        [container-1-start]
                        auto
                        [container-1-end]
                        3rem
                        [sub-heading-1]
                        auto
                        1rem
                        [paragraph-2]
                        auto
                        5rem
                        [container-2-start]
                        auto
                        [container-2-end]
                        3rem
                        [sub-heading-2]
                        auto
                        1rem
                        [paragraph-3]
                        auto;
}

@media screen and (min-width: 576px) {
    .testing-1 .container-1 {
      border: double gray;
    }
    .testing-1 .container-2 {
      border: double gray;
    }
}

@media screen and (min-width: 992px) {
    .testing-1 {
        grid-template-rows: [heading]
                            auto
                            2rem
                            [paragraph-1]
                            auto
                            5rem
                            [container-1-start sub-heading-1]
                            auto
                            1rem
                            [paragraph-2]
                            auto
                            auto
                            [container-1-end]
                            10rem
                            [container-2-start sub-heading-2]
                            auto
                            1rem
                            [paragraph-3]
                            auto
                            auto
                            [container-2-end]
                            auto;
    }
}

/* Visual Design */

.visual-design {
    grid-template-rows: [heading]
                        auto
                        2rem
                        [paragraph-1]
                        auto
                        5rem
                        [typography]
                        auto
                        [color-palette]
                        auto
                        [illustrations]
                        auto;
}

/* @media screen and (min-width: 992px) {
    .visual-design {
        grid-template-rows: [heading]
                            auto
                            2rem
                            [paragraph-1]
                            auto
                            5rem
                            [typography]
                            auto
                            [color-palette]
                            auto
                            [illustrations]
                            auto;
    }
} */

/* Typography */

.typography {
    grid-row: typography;
    grid-template-rows: [heading]
                        auto
                        5rem
                        [container-1-start]
                        auto
                        [container-1-end]
                        5rem
                        [sub-heading-1]
                        auto
                        1rem
                        [paragraph-1]
                        auto
                        5rem;
}

@media screen and (max-width: 575.98px) {

      .typography .container-1 {
          padding: 0 21.3%;
    }
}

@media screen and (min-width: 576px) {

      .typography-image-1 {
        padding-right: 69.8%;
      }

      .typography .container-1 {
        margin-bottom: 3rem;
      }
}

/* Typography - Desktop */

@media screen and (min-width: 992px) {

    .typography {
        grid-row: typography;
        grid-template-rows: [heading]
                            auto
                            5rem
                            [container-1-start sub-heading-1]
                            auto
                            1rem
                            [paragraph-1]
                            auto
                            auto
                            [container-1-end]
                            5rem;
    }

    .typography .container-1 {
        padding-right: 2rem;
    }

    .typography .container-1-split {
        padding-right: 2rem;
    }
}

.color-palette {
    grid-row: color-palette;
    grid-template-rows: [heading] /*color palette*/
                        auto
                        5rem
                        [container-1-start]
                        auto
                        [container-1-end]
                        5rem
                        [sub-heading-1]
                        auto
                        1rem
                        [paragraph-1]
                        auto
                        5rem;
}

@media screen and (max-width: 575.98px){
    .color-palette .container-1 {
        padding: 0 16%;
  }
}

@media screen and (min-width: 576px) {
    .palette-img1 {
      padding-right: 50%;
    }
    .color-palette .container-1 {
      margin-bottom: 3rem;
    }
}

@media screen and (min-width: 992px) {

    .color-palette {
        grid-row: color-palette;
        grid-template-rows: [heading] /*color palette*/
                            auto
                            5rem
                            [container-1-start sub-heading-1]
                            auto
                            1rem
                            [paragraph-1]
                            auto
                            auto
                            [container-1-end]
                            5rem;
    }

    .color-palette .container-1 {
      padding-right: 2rem;
    }

    .color-palette .container-1-split {
        padding-right: 9%;
    }
}

@media screen and (max-width: 575.98px) {

    .illustrations {
        grid-row: illustrations;
        grid-template-rows: [heading] /*illustrations*/
                            auto
                            5rem
                            [photo-1-start]
                            auto
                            [photo-1-end]
                            5rem
                            [sub-heading-1]
                            auto
                            1rem
                            [paragraph-1]
                            auto
                            5rem
                            [photo-2-start]
                            auto
                            [photo-2-end]
                            5rem
                            [sub-heading-2]
                            auto
                            1rem
                            [paragraph-2]
                            auto
                            5rem
                            [container-3]
                            auto
                            ;
    }

    .illustrations .photo-1 {
        padding: 0 8%;
    }

    .illustrations .photo-2 {
        padding: 0 8%;
    }

}

@media screen and (min-width: 576px) {

    .illustrations {
        grid-row: illustrations;
        grid-template-rows: [heading] /*illustrations*/
                            auto
                            5rem
                            [photo-1-start]
                            2rem
                            [sub-heading-1]
                            auto
                            1rem
                            [paragraph-1]
                            auto
                            5rem
                            [sub-heading-2]
                            auto
                            1rem
                            [paragraph-2]
                            auto
                            1fr
                            [photo-2-start]
                            10rem
                            [photo-1-end]
                            5rem
                            [container-3]
                            auto
                            [photo-2-end]
                            5rem
                            ;
    }

    .illustrations .photo-1 {
        margin-right: 61.7052023121387%;
    }

    .illustrations .photo-2 {
        margin-left: 61.7052023121387%;
    }

    .illustrations .container-3 {
        max-width: 49.0909090909091%;
        margin-top: 5rem;
    }
}

@media screen and (min-width: 922px) {

    .illustrations {
        grid-row: illustrations;
        grid-template-rows: [heading] /*illustrations*/
                            auto
                            5rem
                            [photo-1-start]
                            2rem
                            [sub-heading-1]
                            auto
                            1rem
                            [paragraph-1]
                            auto
                            5rem
                            [sub-heading-2]
                            auto
                            1rem
                            [paragraph-2]
                            auto
                            1fr
                            [photo-2-start]
                            10rem
                            [photo-1-end]
                            5rem
                            [container-3]
                            auto
                            [photo-2-end]
                            5rem;
    }


    .illustrations .photo-1 {
        margin-right: 50.6944444444444%;
        margin-left: 25.9722222222222%;
    }

    .illustrations .photo-2 {
        margin-left: 59.1666666666667%;
        margin-right: 16.9444444444444%;
    }

    .illustrations .container-3 {
        max-width: 49.0909090909091%;
        margin-top: 5rem;
    }
}

.hi-fidelity {
    grid-template-rows: [heading]
                        auto
                        2rem
                        [paragraph-1]
                        auto
                        5rem
                        [container-1]
                        auto
                        5rem
                        [button-1]
                        auto;
}





@media screen and (max-width: 575.98px){
      .hi-fidelity .container-1 {
          padding: 0px 27.2%;
      }
}

@media screen and (min-width: 576px) {
      .mobile-mock {
        padding-left: 8.5131894484412%;
        padding-right: 75.220623501199%;
      }

      .desktop-mock {
        padding-left: 34.1726618705036%;
        padding-right: 4.7453703703704%;
      }

      .link-mobile {
        width: 34.1726618705036%;
        margin-left: 14.628%;
      }

}

@media screen and (min-width: 992px) {
  .mobile-mock {
    padding-left: 9%;
  }
    .desktop-mock {
        padding-right: 8.3%;
    }
    .link-mobile {
        width: 50.6944444444444%;
        margin-left: 23.9583333333333%;
      }
}


.testing-2 {
    grid-template-rows: [heading]
                        auto
                        2rem
                        [paragraph-1]
                        auto
                        5rem
                        [container-1-start]
                        auto
                        [container-1-end]
                        3rem
                        [sub-heading-1]
                        auto
                        1rem
                        [paragraph-2]
                        auto
                        5rem
                        [container-2-start]
                        auto
                        [container-2-end]
                        3rem
                        [sub-heading-2]
                        auto
                        1rem
                        [paragraph-3]
                        auto
                        5rem
                        [container-3]
                        auto;
}

.testing-2 .container-3 {
    max-width: 100%;
    z-index: 900;
}

@media screen and (min-width: 992px) {
    .testing-2 {
        grid-template-rows: [heading]
                            auto
                            2rem
                            [paragraph-1]
                            auto
                            5rem
                            [container-1-start sub-heading-1]
                            auto
                            1rem
                            [paragraph-2]
                            auto
                            auto
                            [container-1-end]
                            10rem
                            [container-2-start sub-heading-2]
                            auto
                            1rem
                            [paragraph-3]
                            auto
                            auto
                            [container-2-end]
                            10rem
                            [container-3]
                            auto;
    }
}


@media screen and (min-width: 576px) {
      .testing-2 .container-1 {
        border: double gray;
      }
      .testing-2 .container-2 {
        border: double gray;
      }
}


.conclusion {
    grid-template-rows: [background-start]
                        2rem
                        [heading]
                        auto
                        2rem
                        [paragraph-1]
                        auto;
}


.conclusion .background-start {
    background: url("../images/colab/shape6.svg") no-repeat;
    background-size: contain;
    align-self: start;
    min-height: 177.0666666666667vw;
}


.conclusion .paragraph-1 {
  padding-right: 2rem;
}

@media screen and (min-width: 576px) {
  .conclusion .background-start {
      background: url("../images/colab/shape2.svg") no-repeat;
      /* background-size: contain;
      align-self: start;
      min-height: 177.0666666666667vw;
  } */
 }
}

.self-reflection {
    grid-template-rows: [heading]
                        auto
                        2rem
                        [paragraph-1]
                        auto;
}

.self-reflection .paragraph-1 {
  padding-right: 2rem;
}


.other-work {
    grid-template-rows: [heading]
                        auto
                        5rem
                        [container-1]
                        auto
                        3rem
                        [container-3]
                        auto
                        7rem;
}

.other-work .container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 0 8%;
}

 .other-work .container-1 figure{
   width: 223px;
   margin: 0 5rem 5rem 5rem;
   align-items: center;
 }



.other-work .container-3 {
    position: relative;
    justify-self: end;
    margin-right: -10px;
}

@media screen and (min-width: 576px) {
    .other-work .container-3 {
        margin-right: calc(-20px - 1.61%);
    }
}


@media screen and (min-width: 870px) {
  .other-work .container-1 {
    margin: 0 10%;

  }
}

/* Special Positioning */

.number-circle {
    width: 5rem;
    height: 5rem;
    justify-self: end;
    margin-right: calc(36.8% - 5.9rem);
  }

  @media screen and (max-width: 575.98px){

  }
  @media screen and (min-width: 576px){

  }
