/*  SUB-GRID VERTICAL LAYOUTS */

/* Home Page */

.home-hero {
    grid-template-rows: [heading]
                        auto
                        2rem
                        [paragraph-1]
                        auto
                        1rem
                        [container-1]
                        auto;

                        margin-bottom: calc(-5rem - 21.066666666vw);
}
/* home mobile */
@media screen and (max-width: 575.98px) {
    .home-hero .container-1 {
        height: 84vw;
        width: 84vw;
    }
    .work-circle {
        height: 11.8rem;
        width: 11.8rem;
        justify-self: end;
        margin-bottom: calc(-5rem - 3vw);
        margin-right: calc(36.8% - 5.9rem);
    }
}


/* home tablet */
@media screen and (min-width: 576px){
    .home-hero .container-1 {
        height: 40.2877697841727vw;
        width: 40.2877697841727vw;
        justify-self: end;
        margin-right: 14.6282973621103%;
    }
    .home-hero .paragraph-1 {
      padding-right: 28.0575539568345%;
    }
    .work-circle {
        height: 11.8rem;
        width: 11.8rem;
        margin-bottom: calc(-5rem - 3vw);
        margin-left: calc(14.6284411319865% - 5.9rem);
    }

}

/* home desktop */
@media screen and (min-width: 992px) {
  .home-hero .container-1 {
      height: 39.9305555555556vw;
      width: 39.9305555555556vw;
      justify-self: end;
      margin-right: 14.6282973621103%;
      margin-top: -70px;
  }
  .home-hero .paragraph-1 {
    padding-right: 50.6944444444444%;
  }
  .work-circle {
      height: 11.8rem;
      width: 11.8rem;
      margin-bottom: calc(-5rem - 3vw);
      margin-left: calc(23.9583333333333% - 5.9rem);
  }

}




/* lily box */
.lily {
    position: absolute;
    left: 2.222222222%;
    right: 27.619047619%;
    top: 18.73015873%;
    bottom: 10.793650793%;

    background: url(../images/hero1x.png) no-repeat;
    background-size: contain;
}

.ellipse {
    position: absolute;
    left: 33.968253968%;
    top: 5.396825396%;
    right: 4.444444444%;
    bottom: 33.968253968%;

    background: #C0E2CA;
    opacity: 0.5;
    border-radius: 50%;
}

@media screen and (max-width: 575.98px){
    .home-project-board {
        grid-auto-rows: auto;
        grid-row-gap: 75px;

    }
}

@media screen and (min-width: 576px){
    .home-project-board {
        grid-auto-rows: auto;
        grid-row-gap: 150px;

    }
}

/* projects mobile */
@media screen and (max-width: 575.98px){
      .home-project {
          grid-template-rows: [heading]
                              auto
                              2rem
                              [paragraph-1-start]
                              auto
                              [paragraph-1-end]
                              3rem
                              [photo-1-start]
                              auto
                              [photo-1-end]
                              3rem
                              [sub-heading-1]
                              auto
                              [paragraph-2-start]
                              5.2rem
                              [button-1]
                              auto
                              [paragraph-2-end];
    }

     .phone {
         width: 28vw;
         justify-self: center;
     }

     .laptop {
         width: 80vw;
         justify-self: center;
         margin-bottom: 2rem;
     }

     .desktop {
         width: 80vw;
         justify-self: center;
     }
}

/* projects tablet */

@media screen and (min-width: 576px) and (max-width: 991.98px){
    .home-project {
        grid-template-rows: [heading]
                            auto
                            [button-1-start]
                            2rem
                            [paragraph-1-start]
                            5.2rem
                            [button-1-end]
                            auto
                            [paragraph-1-end]
                            3rem
                            [photo-1-start]
                            auto
                            3rem
                            [sub-heading-1]
                            auto
                            [paragraph-2-start]
                            auto
                            [paragraph-2-end photo-1-end];
  }

  .home-project .paragraph-1-split {
    justify-self:end;
    padding-right: 46.5707434052758%;
  }

  .home-project .photo-1 {
    justify-self: end;
    margin-left:  26%;
  }

  .home-project .button-1-split {
    margin-left: 57.1942446043165%;
  }
}



/* projects desktop */
@media screen and (min-width: 992px){
    .home-project {
        grid-template-rows: [heading]
                            auto
                            2rem
                            [paragraph-1-start]
                            8rem
                            [photo-1-start]
                            11rem
                            [photo-2-start]
                            5rem
                            [sub-heading-1]
                            auto
                            [paragraph-2-start]
                            auto
                            [paragraph-2-end]
                            auto
                            [photo-1-end]
                            auto
                            3rem
                            [button-1-start]
                            auto
                            [button-1-end photo2-end]
  }

  .home-project .paragraph-1-split {

    width: 18.6527777777778%;
  }

  .home-project .photo-1 {
    margin: 0 3.0555555555556%;
  }
  .home-project .photo-2 {
    width: 11.4548494983278%;
    margin-left: 8.1944444444444%;


  }


  .home-project .button-1-split {
    justify-self: end;
    margin-right: calc(7.0833333333333% + 1px);
  }


}



.home-outlook {
    grid-template-rows: [heading]
                        auto
                        2rem
                        [paragraph-1]
                        auto
                        3rem
                        [button-1]
                        auto
                        3rem
                        [footer]
                        4.5rem;
}
@media screen and (max-width: 575.98px){
  .home-outlook .button-1 {
      margin-left: 63.2%;

  }
}

@media screen and (min-width: 576px) and (max-width: 991.98px){
  .home-outlook .button-1 {
      margin-left: 14.5083932853717%;

  }
}

@media screen and (min-width: 992px) {
  .home-outlook .paragraph-1 {
      margin-right: 16.7842031029619%;
  }
}



.see-work-button-outer {
    justify-self: end;
    margin-right: calc(36.8% - 45px);
}

.see-work-button-inner {
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background: rgb(192, 226, 202, .5);

}


/* Hero Absolute-Pos Objects*/
