html {
    width: 100%;
    position: relative;
}

body {
    width: 100%;
    position: relative;
    min-height: 100vh;

}

main {
  max-width: 1600px;
  margin: 0 auto;
  /* min-width: 320px; */
}

/* Header mobile*/

.mobile-header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 4rem;
    border-bottom: 1px solid rgb(125, 125, 125, .6);
    z-index: 902;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0 10px 0 10px;
}

.logo {
    padding-top: .7rem;
}

.logo img {
    height: 2.55rem;
    width: 1.5rem;
}


.wide-logo {
    padding-top: .9rem;
    padding-left: 3.1rem;
}

.wide-logo img {
    width: 9.8rem;
    height: 1.7rem;
}

.text-link {
    padding-top: .9rem;
}

/* Header tablet and desktop */

@media screen and (min-width: 576px) {
  .vertical-menu {
    position: fixed;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    top: 3rem;
    right: 1rem;
    z-index: 903;
    min-height: 500px;
  }
}

@media screen and (min-width: 992px) {
  .vertical-menu {
    right: calc(7.0833333333333% - 3.2rem);
  }
}

@media screen and (min-width: 1600px) {
    .vertical-menu {
      right: calc(50% - 800px + 113.33px - 3.2rem); /* 7.0833333333333 */
    }
}

.vertical-menu li {
  display: inline;
  padding-bottom: 5rem;
}

.desktop-header {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 902;
}

@media screen and (min-width: 1600px) {
    .desktop-header {
      left: calc(50% - 800px + 2rem);
    }
}

.desktop-header img {
  width: 2.941rem;
  height: 5rem;
}




/* Main Section */

main {
    padding-top: 6rem;
}

@media screen and (min-width: 576px){
    main {
        padding-top: 10rem;
    }
}


/* !! ---------- MAIN LAYOUT ---------- !! */

/* Lines */

.vert-line {
    border-left: 1px solid rgb(125, 125, 125, .3);
    height: 100%;
    animation: lines;
    position: fixed;
    z-index: -1;
}

@keyframes lines {
    from { height: 0; }
	to { height: 100%; }
}

.line1 {
    animation-duration: 13s;
}

.line2 {
    animation-duration: 7s;
}

.line3 {
    animation-duration: 15s;
}

.line4 {
    animation-duration: 6s;
}

/* ------ lines mobile */

    @media screen and (max-width: 575.98px){
        .line1 {
            left: calc(8% - 1px);
        }
        .line2 {
            right: 36.8%;
        }
    }

/* ------ lines tablet */
    @media screen and (min-width: 576px) and (max-width: 991.98px){
        .line1 {
            left: calc(14.6284411319865% - 1px);
        }
        .line2 {
            right: 14.6284411319865%;
        }

        .line3 {
            left: calc(57.1942446043165% - 1px);
        }
}

/* ------ lines desktop */
    @media screen and (min-width: 992px) {
        .line1 {
            left: calc(7.0833333333333% - 1px);
        }
        .line2 {
            right: 7.0833333333333%;
        }

        .line3 {
            right: calc(25.3472222222222% + 1px);
        }

        .line4 {
            left: 23.9583333333333%;
        }
    }

/* ------ lines jumbo */
    @media screen and (min-width: 1600px) {
        .line1 {
            left: calc(50% - 687.67px);
        }

        .line2 {
            right: calc(50% - 686.66px);
        }

        .line3 {
            right: calc(50% - 393.44px); /* 800px + 405.5555555555552px + 1px */
        }

        .line4 {
            left: calc(50% - 415.66px); /* 800px + 383.3333333333328px + 1px */
        }
}

/* Grid */

.grid {
    display: grid;
}

/* Master Grid */

.master-grid {

    grid-template-columns: 1fr;

    grid-auto-rows: auto;
    grid-row-gap: 10rem;
}

@media screen and (min-width: 576px) {
    .master-grid {
        grid-row-gap: 15rem;
    }
}



/* Sub Grid */

 /* Positioning in Master */
 .sub-grid {
    grid-column: 1 / -1;
 }

/* Sub-Grid - Mobile Definition */
@media screen and (max-width: 575.98px) {
    .sub-grid {
        grid-template-columns: [margin-left-start heading-start]
        5.333333333%
        [margin-left-end dent-start center-left role-start paragraph-start left-start right-left-flip-start framed-image-start left-right-flip-start]
        1fr
        [aside-start persona-photo-start left-end]
        1fr
        1fr
        [margin-right-start dent-end aside-end center-right paragraph-end role-end persona-photo-end right-left-flip-end framed-image-end left-right-flip-end]
        5.333333333%
        [margin-right-end heading-end];
        grid-column-gap: 2.666666666%;
    }
}

/* Sub-Grid - Tablet Definition */
@media screen and (min-width: 576px) and (max-width: 991.98px){
    .sub-grid {
        grid-template-columns: [margin-left-start]
        1fr
        [heading-start]
        1fr
        [margin-left-end center-left paragraph-start role-start left-start framed-image-start]
        1fr
        [dent-start]
        1fr
        [role-end]
        1fr
        1fr
        [left-end aside-start right-left-flip-start left-right-flip-start]
        1fr
        1fr
        1fr
        1fr
        [margin-right-start center-right dent-end aside-end paragraph-end framed-image-end]
        1fr
        [heading-end right-left-flip-end left-right-flip-end]
        1fr
        [margin-right-end ];

        grid-column-gap: 2.3980815347722%;
    }
}

/* Sub-Grid - Desktop Definition */
@media screen and (min-width: 992px) {
    .sub-grid {

        grid-template-columns: [margin-left-start heading-start]
        1fr
        [margin-left-end paragraph-start]
        1fr
        [dent-start framed-image-start]
        1fr
        [center-left left-start right-left-flip-start left-right-flip-start]
        1fr
        1fr
        [paragraph-end]
        1fr
        [left-end right-left-flip-end]
        1fr
        [left-right-flip-end]
        1fr
        [dent-end framed-image-end]
        1fr
        [center-right aside-start role-start]
        1fr
        1fr
        [aside-end margin-right-start role-end]
        1fr
        [margin-right-end heading-end];

        grid-column-gap: 1.3888888888889%;
        /* 2.3980815347722% */
    }
}

/* Subgrid Horizontal Positioning */
/* heading in projects */
.heading-width {
    grid-column:  heading-start / heading-end;
}

.standard-width {
    grid-column: margin-left-end / margin-right-start;
}

.full-width {
    grid-column: margin-left-start / margin-right-end;
}

.left {
    grid-column: left-start / left-end;
}

.justify-center {
    justify-self: center;
}

.dent-left {
    grid-column: dent-start / dent-end;
}


.aside-detail {
  grid-column: aside-start / aside-end;
}


@media screen and (max-width: 991.98px) {
    .dent-to-aside {
        grid-column: dent-start / dent-end;
    }
}

@media screen and (min-width: 992px) {
    .dent-to-aside {
        grid-column: aside-start / aside-end;
    }
}

.role-placement {
  grid-column: role-start / role-end
}

.centered {
    grid-column: center-left / center-right;
}

.paragraph-width {

    grid-column: paragraph-start / paragraph-end
}

.right-left-flip {
    grid-column: right-left-flip-start / right-left-flip-end;
}

.left-right-flip {
    grid-column: left-right-flip-start / left-right-flip-end;
}

.framed-image {
  grid-column: framed-image-start / framed-image-end;
}
/* .quotation {

} */


/* Subgrid Vetical Positioning Objects*/

.heading {
    grid-row: heading;
}


.sub-heading-1 {
    grid-row: sub-heading-1;
}

.sub-heading-2 {
    grid-row: sub-heading-2;
}

.sub-heading-3 {
    grid-row: sub-heading-3;
}

.sub-heading-4 {
    grid-row: sub-heading-4;
}

.sub-heading-5 {
    grid-row: sub-heading-5;
}

.sub-heading-6 {
    grid-row: sub-heading-6;
}

.paragraph-1 {
    grid-row: paragraph-1;
}

.paragraph-2 {
    grid-row: paragraph-2;
}

.paragraph-3 {
    grid-row: paragraph-3;
}

.paragraph-4 {
    grid-row: paragraph-4;
}
.paragraph-5 {
    grid-row: paragraph-5;
}

.paragraph-1-split {
    grid-row: paragraph-1-start / paragraph-1-end;
}

.paragraph-2-split {
    grid-row: paragraph-2-start / paragraph-2-end;
}

.container-1 {
    grid-row: container-1;
}

.container-2 {
    grid-row: container-2;
}

.container-3 {
    grid-row: container-3;
}

.container-4 {
    grid-row: container-4;
}


.container-1-split {
    grid-row: container-1-start / container-1-end;
}

.container-2-split {
    grid-row: container-2-start / container-2-end;
}

.container-4-split {
    grid-row: container-4-start / container-4-end;
}


.list-1 {
    grid-row: list-1;
}

.list-2 {
    grid-row: list-2;
}

.list-3 {
    grid-row: list-3;
}

.button-1 {
    grid-row: button-1;
}

.button-2 {
    grid-row: button-2;
}

.button-1-split {
    grid-row: button-1-start / button-1-end;
}


.photo-1 {
    grid-row: photo-1-start / photo-1-end;
}

.photo-2 {
    grid-row: photo-2-start / photo-2-end;
}

.background {
    grid-row: background-start / background-end;
}

.background-start {
    grid-row: background-start;
}

/* Sub-Section */


/* Containers */

.rel-container {
    position: relative;
}

/* --------Summary Box-----------*/

/* Default */

.summary-box h3, .summary-box h4 {
    margin-bottom: 1rem;
}

    /* Stop margin on last item in Summary Box */
    .summary-box p:nth-last-child(1) {
        margin-bottom: 0;
    }

    .summary-box ul:nth-last-child(1) {
        margin-bottom: 0;
    }

/* Mobile and Tablet */
@media screen and (max-width: 991.98px) {
    .summary-box {
        padding: 2rem 3.4rem;
    }

    .summary-box p {
        margin-bottom: 2rem;
    }

    .summary-box ul {
        margin-bottom: 2rem;
    }
}

/* Destop only */
@media screen and (min-width: 992px) {
    .summary-box {
        padding: 2rem 0;
    }

    .summary-box p {
        margin-bottom: 5rem;
    }

    .summary-box ul {
        margin-bottom: 5rem;
    }
}


/* ----------- summary-aside ------------ */

/* Default */

.summary-aside h3, .summary-aside h4 {
    margin-bottom: 1rem;
}

    /* Stop margin on last item in Summary Box */
    .summary-aside p:nth-last-child(1) {
        margin-bottom: 0;
    }

    .summary-aside ul:nth-last-child(1) {
        margin-bottom: 0;
    }

/* mobile */
@media screen and (max-width: 576px){

      .summary-aside {
          margin-left: 1rem;
      }
}
/* Mobile and Tablet */
@media screen and (max-width: 991.98px) {


    .summary-aside p {
        margin-bottom: 2rem;
    }

    .summary-aside ul {
        margin-bottom: 2rem;
    }
}

/* Destop only */
@media screen and (min-width: 992px) {

    .summary-aside p {
        margin-bottom: 5rem;
    }

    .summary-aside ul {
        margin-bottom: 5rem;
    }
}

/* -------- From summary box to simmary-aside -----------*/

/* mobile */
/* @media screen and (max-width: 575.89px) {

} */

/* tablet */
/* @media screen and (min-width: 576px) {
  .box-to-aside {
      padding: 2rem 3.4rem;
  }
} */

/* desktop */
/* @media screen and (min-width: 992px) {

} */
/* --------Summary Padding-----------*/


/* Shapes */

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(125,125,125,.6);
    background: white;
}


.circle-text {
    padding-bottom: .5rem;
}

.animated-button {
    background: url("../images/button.svg") no-repeat;
    background-position-x: 0;
    display: flex;
    align-items: center;
    height: 69px;
    padding-left: 1rem;
}

@keyframes animatedBackground {
	0% { background-position-x: 0; }
	70% { background-position-x: 100%; }
}

@keyframes animatedRelay1 {
    0%  { background-position-x: 0;
          animation-timing-function: ease-in;
        }
    25% { background-position-x: 100%; }
    65% { background-position-x: 100%; }
    100% {background-position-x: -2rem; }
}

@keyframes animatedRelay2 {
    0%  { background-position-x: 0; }
    25% { background-position-x: 0;
        animation-timing-function: ease-out;
        }
    45% { background-position-x: 100%; }
    60% { background-position-x: 100%; }
    70% {background-position-x: -2rem;}
}

.animated {
    background-position-x: -2rem;
}

@media screen and (max-width: 575.98px){
    .animated-button {
      width: 55.2%;
      margin-left: 63.2%;
    }
}

@media screen and (min-width: 576px) and (max-width: 991.98px){
    .animated-button {
      width: 28.1774580335731%;
      margin-left: 14.5083932853717%;
  }
}

@media screen and (min-width: 992px){
    .animated-button {
      width: 18.2638888888889%;
      margin-left: calc(74.6527777777778% - 1px);
  }
}



/* Right Aligned Icon */

.right-icon {
    display: block;
    width: 20px;
    height: 33.2px;
    background: url(../images/svg/goup.svg) no-repeat;
    background-size: contain;
}

@media screen and (min-width: 576px){
    .right-icon {
        width: 40px;
        height: 66.4px;
    }
}

/* -------- role vertical spacing ---------- */
.role-placement h4 {
  padding-bottom: 1rem;
}
/* ---- GLOBAL FOOTER ---- */

.drawer-mobile {
    grid-template-rows: [heading]
                        4.5rem
                        3rem
                        [container-1]
                        6.1rem
                        3rem
                        [container-2]
                        9.5rem
                        3rem
                        [container-3]
                        6.4rem
                        3rem; /*last one must be always 3rem*/

                        position: fixed;
                        bottom: -34rem;
                        width: 100%;

                        justify-items: center;
                        text-align: center;
}

.contact-bar {
    position: relative;
    align-items: center;
    justify-items: center;
    text-align: center;
    border-top: 1px solid rgb(125,125,125,.6);
    border-bottom: 1px solid rgb(125,125,125,.6);
    width: 100%;
}

.drawer-mobile i {
    position: relative;
    display: block;
    margin-bottom: 10px;
    background-size: contain;
}

.linkedin {
    width: 3.2rem;
    height: 3.2rem;
    margin-left: calc(50% - 1.6rem);
    background: url("../images/ico/linkedin.svg") no-repeat;
  }

.envelope {
width: 6.553rem;
height: 6.649rem;
margin-left: calc(50% - 3.2765rem);
background: url("../images/ico/envelope.svg") no-repeat;
}

.resume {
width: 3.8rem;
height: 3.5rem;
margin-left: calc(50% - 1.9rem);
background: url("../images/ico/download.svg") no-repeat;
}

footer {

   position: absolute;
   bottom: 0;
   width: 100%;
   color: #828282;
   background-color: rgb(255, 255, 255, .95);
   display: flex;
   justify-content: center;
   align-items: center;
   border-top: 1px solid rgb(125,125,125,.6);
   height: 45px;
   z-index: 902;
}



/* Media Queries */

/* Hide Mobile */
@media screen and (max-width: 575.98px) {
    .mobile-hidden {
        display: none;
    }
}

/* Hide Mobile and Tablet */
@media screen and (max-width: 991.98px) {
    .desktop-only {
        display: none;
    }
}

/* Hide Tablet and Desktop */
@media screen and (min-width: 576px) {
    .mobile-only {
        display: none;
    }
}

/* Hide Desktop */
@media screen and (min-width: 992px) {
    .desktop-hidden {
        display: none;
    }
}
/* number color */
  .circle-purple {
      background: #EFDBEA;
  }

  .circle-green {
      background: #B7D29E;
  }

  /* Unsuported page */

  .unsuported {
      max-width: 700px;
      padding-left: 50px;
      padding-right: 50px; 
      padding-top: 100px;
  }

  .unsuported h1, .unsuported ul, .unsuported p {
      margin-bottom: 50px;
  }