html {
    width: 100%;
    min-width: 320px;
}

body {
    width: 100%;
    margin: 0;
}

/* Header mobile*/

.mobile-header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 4rem;
    border-bottom: 1px solid rgb(125, 125, 125, .6);
}

.top-nav {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0 10px 0 10px;
}

.logo {

    padding-top: .7rem;
}

.logo img {
    height: 2.55rem;
    width: 1.5rem;
}


.wide-logo {
    padding-top: .9rem;
    padding-left: 3.1rem;
}

.wide-logo img {
    width: 9.8rem;
    height: 1.7rem;
}

.text-link {
    padding-top: .9rem;
}

/* Header tablet and desktop */

@media screen and (min-width: 576px) {
  .vertical-menu {
    position: fixed;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    top: 3rem;
    right: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .vertical-menu {
    position: fixed;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    top: 3rem;
    right: calc(7.0833333333333% - 32px);
  }
}

.vertical-menu li {
  display: inline;
  padding-bottom: 5rem;
}

.desktop-header {
  position: fixed;
  top: 2rem;
  left: 2rem;

}

.desktop-header img {
  width: 2.941rem;
  height: 5rem;
}




/* Main Section */

main {
    padding-top: 6rem;
}

/* Mobile Footer */

    /* TODO */


/* !! ---------- MAIN LAYOUT ---------- !! */

/* Lines */

.vert-line {
    border-left: 1px solid rgb(125, 125, 125, .3);
    height: 100%;

}
/* ------ lines mobile */
      @media screen and (max-width: 575.98px){
        .line1 {
            position: fixed;
            left: calc(8% - 1px);
        }
        .line2 {
            position: fixed;
            right: 36.8%;
        }
}
/* ------ lines tablet */
      @media screen and (min-width: 576px) and (max-width: 991.98px){
        .line1 {
            position: fixed;
            left: calc(14.6284411319865% - 1px);
        }
        .line2 {
            position: fixed;
            right: 14.6284411319865%;
        }


        .line3 {
            position: fixed;
            left: calc(57.1942446043165% - 1px);
        }
}
/* ------ lines desktop */
      @media screen and (min-width: 992px) {
        .line1 {
            position: fixed;
            left: calc(7.0833333333333% - 1px);
        }
        .line2 {
            position: fixed;
            right: 7.0833333333333%;
        }

        .line3 {
            position: fixed;
            right: calc(25.3472222222222% + 1px);
        }

        .line4 {
            position: fixed;
            left: 23.9583333333333%;
        }
}
/* ---------------- */
@media screen and (min-width: 576px) {
    .line1-project {
        position: fixed;
        left: 14.6282973621103%;
    }

    .line2-project {
        position: fixed;
        right: 51.1990407673861%;
    }
}



/* Grid */

.grid {
    display: grid;
}

/* Master Grid */

@media screen and (max-width: 575.98px) {
    .master-grid {

        grid-template-columns: 1fr;

        grid-auto-rows: auto;
        grid-row-gap: 10rem;

  }
}

@media screen and (min-width: 576px) {
    .master-grid {

        grid-template-columns: 1fr;

        grid-auto-rows: auto;
        grid-row-gap: 15rem;

  }
}



/* Sub Grid */

 /* Positioning in Master */
 .sub-grid {
    grid-column: 1 / -1;
 }

/* Sub-Grid - Mobile Definition */
@media screen and (max-width: 575.98px) {
    .sub-grid {
        grid-template-columns: [margin-left-start heading-start]
        5.333333333%
        [margin-left-end dent-start role-start]
        1fr
        [center-left aside-start]
        1fr
        [center-right]
        1fr
        [margin-right-start dent-end aside-end role-end]
        5.333333333%
        [margin-right-end heading-end];

        grid-column-gap: 2.666666666%;
    }
}

/* Sub-Grid - Tablet Definition */
@media screen and (min-width: 576px) {
    .sub-grid {
        grid-template-columns: [margin-left-start]
        1fr
        [heading-start]
        1fr
        [margin-left-end paragraph-start role-start]
        1fr
        [dent-start]
        1fr
        [center-left role-end]
        1fr
        1fr
        [aside-start]
        1fr
        1fr
        [center-right paragraph-end]
        1fr
        1fr
        [margin-right-start dent-end aside-end]
        1fr
        [heading-end]
        1fr
        [margin-right-end ];

        grid-column-gap: 2.3980815347722%;
    }
}

/* Sub-Grid - Desktop Definition */
@media screen and (min-width: 992px) {
    .sub-grid {
        grid-template-columns: [margin-left-start]
        1fr
        [heading-start margin-left-end ]
        1fr
        [paragraph-start]
        1fr

        1fr
        [center-left]
        1fr
        1fr
        [aside-start]
        1fr
        1fr
        [center-right paragraph-end]
        1fr
        [dent-start role-start]
        1fr
        [dent-end aside-end]
        1fr
        [heading-end margin-right-startdent-end role-end]
        1fr
        [margin-right-end ];

        grid-column-gap: 2.3980815347722%;
    }
}


/* Subgrid Horizontal Positioning */
/* heading in projects */
.heading-width {
    grid-column:  heading-start / heading-end;
}

.standard-width {
    grid-column: margin-left-end / margin-right-start;
}

.full-width {
    grid-column: margin-left-start / margin-right-end;
}

.left {
    grid-column: margin-left-end / center-left;
}

.right-wide {
    grid-column: center-left / margin-right-start;
}

.justify-center {
    justify-self: center;
}

.dent-left {
    grid-column: dent-start / dent-end;
}


.aside-detail {
  grid-column: aside-start / aside-end;
}

.role-placement {
  grid-column: role-start / role-end
}

/* .paragraph-layout {
    grid-column: paragraph-start / paragraph-end
} */

/* .quotation {

} */


/* Subgrid Vetical Positioning Objects*/

.heading {
    grid-row: heading;
}


.sub-heading-1 {
    grid-row: sub-heading-1;
}

.sub-heading-2 {
    grid-row: sub-heading-2;
}

.sub-heading-3 {
    grid-row: sub-heading-3;
}

.sub-heading-4 {
    grid-row: sub-heading-4;
}

.sub-heading-5 {
    grid-row: sub-heading-5;
}

.sub-heading-6 {
    grid-row: sub-heading-6;
}

.paragraph-1 {
    grid-row: paragraph-1;
}

.paragraph-2 {
    grid-row: paragraph-2;
}

.paragraph-3 {
    grid-row: paragraph-3;
}

.paragraph-4 {
    grid-row: paragraph-4;
}

.paragraph-1-split {
    grid-row: paragraph-1-start / paragraph-1-end;
}

.paragraph-2-split {
    grid-row: paragraph-2-start / paragraph-2-end;
}

.container-1 {
    grid-row: container-1;
}

.container-2 {
    grid-row: container-2;
}

.container-3 {
    grid-row: container-3;
}

.list-1 {
    grid-row: list-1;
}

.list-2 {
    grid-row: list-2;
}

.list-3 {
    grid-row: list-3;
}

.button-1 {
    grid-row: button-1;
}

.button-2 {
    grid-row: button-2;
}

.button-1-split {
    grid-row: button-1-start / button-1-end;
}


.photo-1 {
    grid-row: photo-1-start / photo-1-end;
}

.photo-2 {
    grid-row: photo-2-start / photo-2-end;
}

.background {
    grid-row: background-start / background-end;
}

.background-start {
    grid-row: background-start;
}

/* Containers */

.rel-container {
    position: relative;
}

.summary-box {
    padding: 2rem 3.4rem 0 3.4rem;
}



.summary-box p {
    margin-bottom: 2rem;
}

.summary-box h3, .summary-box h4 {
    margin-bottom: 1rem;
}

.summary-box li:nth-last-child(1) {
    margin-bottom: 2rem;
}

/* Shapes */

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(125,125,125,.6);
    background: white;
}

.circle-purple {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(125,125,125,.6);
    background: #EFDBEA;

}


.circle-text {
    padding-bottom: .5rem;
}

.animated-button {
    background: url("../images/button.svg") no-repeat;
    background-position-x: -2rem;
    display: flex;
    align-items: center;
    height: 69px;
    padding-left: 1rem;
}

@media screen and (max-width: 575.98px){
    .animated-button {
      width: 55.2%;
    }
}
@media screen and (min-width: 576px) and (max-width: 991.98px){
    .animated-button {
      width: 28.1774580335731%;
  }
}
@media screen and (min-width: 992px){
    .animated-button {
      width: 18.2638888888889%;
  }
}
/* Right Aligned Icon */

.right-icon {
    width: 20px;
    height: 33.2px;
    justify-self: end;
    margin-right: -10px;
}

/* ---- GLOBAL FOOTER ---- */

.footer-mobile {
    grid-template-rows: [heading]
                        4.5rem
                        3rem
                        [container-1]
                        6.1rem
                        3rem
                        [container-2]
                        9.5rem
                        3rem
                        [container-3]
                        6.4rem
                        3rem; /*last one must be always 3rem*/

                        position: fixed;
                        bottom: -34rem;
                        width: 100%;

                        justify-items: center;
                        text-align: center;
}

.contact-bar {
    position: relative;
    align-items: center;
    justify-items: center;
    text-align: center;
    border-top: 1px solid rgb(125,125,125,.6);
    border-bottom: 1px solid rgb(125,125,125,.6);
    width: 100%;
}

.footer-mobile i {
    position: relative;
    display: block;
    margin-bottom: 10px;
    background-size: contain;
}

.linkedin {
    width: 3.2rem;
    height: 3.2rem;
    margin-left: calc(50% - 1.6rem);
    background: url("../icons/linkedin.svg") no-repeat;
  }

  .envelope {
    width: 6.553rem;
    height: 6.649rem;
    margin-left: calc(50% - 3.2765rem);
    background: url("../icons/envelope.svg") no-repeat;
  }

  .resume {
    width: 3.8rem;
    height: 3.5rem;
    margin-left: calc(50% - 1.9rem);
    background: url("../icons/download.svg") no-repeat;
  }

/* Media Queries */

/* Hide Mobile */
@media screen and (max-width: 575.98px) {
    .mobile-hidden {
        display: none;
    }
}

/* Hide Mobile and Tablet */
@media screen and (max-width: 991.98px) {
    .desktop-only {
        display: none;
    }
}

/* Hide Tablet and Desktop */
@media screen and (min-width: 576px) {
    .mobile-only {
        display: none;
    }
}

/* Hide Desktop */
@media screen and (min-width: 992px) {
    .desktop-hidden {
        display: none;
    }
}
