html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: black;
}
.main-title {
  font-family: didoni-urw, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  line-height: 7.2rem;
  letter-spacing: .1em;
  text-transform: lowercase;
}

.main-mobile {
  font-family: didoni-urw, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  line-height: 5.4rem;
  letter-spacing: .1em;
  text-transform: lowercase;
}

.serif-title {
  font-family: didoni-urw, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: .1em;
  text-transform: lowercase;
}

.serif-mobile {
  font-family: didoni-urw, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 4.2rem;
  letter-spacing: .1em;
  text-transform: lowercase;
}

.geometric-title {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: .1em;

}

.thin-title {
  font-family: raleway, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 2.82rem;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.small-title {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.12rem;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.picture-caption {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #828282;
}

.body-1 {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: .05em;
}

.body-2 {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.92rem;
  letter-spacing: .05em;
}

.thin-caption {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.92rem;
  letter-spacing: .05em;
  list-style: none;
}

.serif-small {
  font-family: didoni-urw, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.92rem;
  letter-spacing: .1em;
  text-transform: lowercase;
}
.menu-style {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: .1em;
  list-style: none;
}

/* Backgrounds */

.opaque {
  background-color: white;
  z-index: 900;
}

.almost-opaque {
  background-color: rgb(255, 255, 255, .95);
  z-index: 901;
}

.cosmic-latte {
  background: rgb(192, 226, 202, .5);
}
<<<<<<< HEAD

/* Borders */

.thin-grey-border {
  border: 1px solid rgb(125,125,125,.6);
}
=======
>>>>>>> c2ed7e14f5252c6990d6739927d24462d4f407fb
