/*  SUB-GRID VERTICAL LAYOUTS */


/* Work Page */

.work {
    grid-template-rows: [heading]
                        auto
                        2rem
                        [container-1]
                        auto
                        5rem
                        [container-2]
                        auto
                        5rem
                        [container-3]
                        auto
                        7rem; /*3rem + 4 contact*/

}


.laptop {
  padding-left: 6.4%;
  padding-right: 6.4%;

}

.desktop {
  padding-left: 2.13%;
  padding-right: 2.13%;
}
